{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Filter Bubbles</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Filter Bubbles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Link</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link disabled" href="#">Disabled</a>#}
            {#            </li>#}
            {#            <li class="nav-item dropdown">#}
            {#                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"#}
            {#                   aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#                <div class="dropdown-menu" aria-labelledby="dropdown01">#}
            {#                    <a class="dropdown-item" href="#">Action</a>#}
            {#                    <a class="dropdown-item" href="#">Another action</a>#}
            {#                    <a class="dropdown-item" href="#">Something else here</a>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Funções
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'run_test' %}">Rodar Teste</a>
                    {#                    <a class="btn btn-primary" href="{% url 'run_crawler' %}">Varrer API de Videos</a>#}
                    {#                    <a class="btn btn-primary" href="{% url 'clean_subtitles' %}">Limpar legendas</a>#}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Últimas varreduras
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Concluído</th>
                            <th>Status</th>
                        </tr>

                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.date_done }}</td>
                                <td>{{ task.result.current }}/{{ task.result.total }}</td>
                                <td>{{ task.status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Estatísticas
                </div>
                <div class="card-body">
{#                    <p>Número de Municípios: {{ num_municipios }}</p>#}
{#                    <p>Municípios com vídeo: {{ num_municipios_com_video }}#}
{#                        ({{ num_municipios_com_video_pct|floatformat:0 }}%)</p>#}
{#                    <p>Municípios com vídeo e legenda: {{ num_municipios_com_video_e_legenda }}#}
{#                        ({{ num_municipios_com_video_e_legenda_pct|floatformat:0 }}%)</p>#}
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>
